<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
<div id="app">
    <child-component>
        <template slot="girl">
            漂亮、美丽、购物、逛街
        </template>
        <template slot="boy">
            <div style="background-color: green">帅气、才实</div>
        </template>
        <div>
            我是一类人，
            我是默认的插槽
        </div>
    </child-component>
    <child>
        <template slot-scope="value">
            　　　　　　<!-- {"say":"你好"} -->

            {{value}}
        </template>
    </child>
    <list-item :lists="nameList">
        <template slot-scope="a">
            {{a.list}}{{a.number}}
            <div v-if="a.list.id==1">你好：{{a.list.name}}</div>
            <!--<div v-if='a.bbbbb.id==1'>你好：<span>{{a.bbbbb.name}}</span></div>-->
            <!--<div v-else>{{a.bbbbb.name}}</div>-->
        </template>
    </list-item>
</div>
</body>
<script>
    Vue.component('list-item',{
        props:['lists'],
        data(){
            return {
                number:123
            }
        },
        template:`
            <div>
                <ul>
                    <li v-for="list in lists">
                        <slot v-bind:list="list" v-bind:number="number"></slot>
                    </li>
                </ul>
            </div>
        `
    })
    Vue.component('child',{
        template:`
            <div>
                <slot say="你好" dd="得到"></slot>
            </div>
        `
    })
    Vue.component('child-component', {
        template: `<div>
            <h4>这个世界不仅有男人和女人</h4>

            <slot name="girl"></slot>

            <div style="height:1px;background-color:red;"></div>

            <slot name="boy"></slot>

            <div style="height:1px;background-color:red;"></div>

            <slot></slot>
            <div style="height:1px;background-color:red;"></div>
            </div>`
    })
    var app = new Vue({
        el: '#app',
        data: {
            title: 123,
            doc: {
                title: 1234
            },
            nameList:[
                {id:1,name:'孙悟空'},
                {id:2,name:'猪八戒'},
                {id:3,name:'沙和尚'},
                {id:4,name:'唐僧'},
                {id:5,name:'小白龙'},
            ]
        }
    })
</script>
</html>